.container{
    display: flex;
}
.container div{
    width: calc((100%)/4);
    margin: 10px 15px ;
    font-size: 1.2rem;
    line-height: 2.4rem;
}
 .titlehover:hover{
    font-weight: bold;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px #ffe0b2;

}
.titlehover{
    font-size: 1.7rem;
    letter-spacing: .3rem;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}
