.container{
    display: flex;
    flex-wrap: wrap;
    
    justify-content:center;
}
.container div{
    border: solid 1px #e0e0e0;
    padding: 5px 15px;
    border-radius: 12px;
    background-color: white;
    width: 40%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 10px 15px ;
    font-size: 1.2rem;
    line-height: 2.4rem;
}

 .titlehover:hover{
    font-weight: bold;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px #ffe0b2;

}
.titlehover{
   margin-bottom: 5px;
    display: block;
    font-size: 1.7rem;
    letter-spacing: .3rem;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}
@media screen and  (max-width:786px){
    .container div{
        width: 70%;
      
    }
}
/* .firstdiv{
    flex:3;
}
.seconddiv{
    flex:2;
}
.theirddiv{
    flex:1;
}
.forthdiv{
    flex:1;
}
.fifthdiv{
    flex:1;
} */

